<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio-ReTest+</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap"
        rel="stylesheet">
</head>

<body (click)="resetSelection($event)">
    <app-navbar></app-navbar>
    <main class="main_student">
        <nav class="main_nav">
        </nav>
        <section class="webapp webappstudent">
            <div class="webapp_header_grid">
                <h2 class="webapp_header">Estado</h2>
                <h2 class="webapp_header">Nombre Prueba</h2>
                <h2 class="webapp_header">Curso</h2>
                <h2 class="webapp_header">Intentos</h2>
                <h2 class="webapp_header">Fecha</h2>
                <h2 class="webapp_header">Nota</h2>
            </div>

            <div *ngFor="let prueba of pruebas" (click)="selectTest($event, prueba)" class="webapp_grid"
                [ngClass]="{'selected-test': selectedTest === prueba}" style="cursor: pointer;text-align: center;">
                <img class="test_online"
                    [src]="isTestActive(prueba.fechaInicio, prueba.fechaTermino) ? '../../../../../assets/IMG/Iconos/greenCircle_icon.svg' : '../../../../../assets/IMG/Iconos/redCircle_icon.svg'"
                    alt="Estado de la prueba">
                <h3>{{ prueba.nombrePrueba }}</h3>
                <span>{{ prueba.curso.nivel }} {{ prueba.curso.seccion }}</span>
                <span>{{ prueba.state === 0 ? '0' : prueba.maxNumIntento }}</span>
                <span>{{ formatDate(prueba.fechaTermino) }}</span>
                <span>{{ prueba.state === 0 ? '-' : prueba.maxCalificacion }}</span>
            </div>

        </section>

        <section class="webapp_button_student">
            <a
                [routerLink]="['/student/prueba', selectedTest?.idCurso, selectedTest?.id, selectedTest?.state === 0 ? 0 : selectedTest?.maxNumIntento]">
                <button
                    [ngStyle]="{'background-color': selectedTest && isTestActive(selectedTest.fechaInicio, selectedTest.fechaTermino) ? 'green' : 'gray'}"
                    [disabled]="!selectedTest || !isTestActive(selectedTest.fechaInicio, selectedTest.fechaTermino)"
                    class="centered-button btn_desabilitado" style="cursor: pointer;">
                    {{ selectedTest && selectedTest.state === 0 ? 'Iniciar prueba' : 'Reintentar' }}
                </button>
            </a>
            <a [routerLink]="['/student/evaluaciones/detail']">
                <button [ngStyle]="{'background-color': selectedTest ? 'green' : 'gray'}"
                    class="centered-button btn_desabilitado" style="cursor: pointer;">Revisar</button>
            </a>
        </section>

    </main>
</body>