<body>
    <header>
        <h1>Prueba de matemática</h1>
        <h2>Objetivo: {{objetivo?.descripcion}}</h2>
    </header>    
    <main>
        <section>
            <div class="pregunta" *ngFor="let pregunta of prueba?.preguntas; let i=index">
                <h1> Pregunta {{i + 1}}</h1>
                <h2> {{pregunta.Pregunta}} </h2>
                <img [src]="pregunta.url">
                <article>
                    <div *ngFor="let letra of ['A', 'B', 'C', 'D', 'E']; let j=index">
                        <input type="radio" [(ngModel)]="prueba.preguntas[i].selectedAnswer" 
                               name="respuesta{{i}}" [value]="letra" required autocomplete="off" id="respuesta{{i}}{{j}}" disabled>
                        <label [ngClass]="{'correcto': letra === pregunta.respuesta && letra === prueba.preguntas[i].selectedAnswer, 'incorrecto': letra !== pregunta.respuesta && letra === prueba.preguntas[i].selectedAnswer}"
                               for="respuesta{{i}}{{j}}">{{letra}}.
                            {{letra === pregunta.respuesta ? (pregunta.resultado) :
                            pregunta.respuestasIncorrectas?.[letra] | customNumberPipe}}
                        </label>
                    </div>                    
                </article>                
            </div>
        </section>
    </main>
</body>
