<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio-ReTest+</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <main>
        <nav class="main_nav">
            <ul>
                <li id="main_tag_reciente" class="main_tag active_tag"><a href="./cursos.html">Mis Cursos</a></li>
                <li id="main_tag_reciente" class="main_tag active_tag"><a href="./matematica.html">2023 Matemática
                        3°A</a></li>
            </ul>
            <div id="webapp_search" class="main_search"><input id="search_box" placeholder="Buscar" name="Buscar"
                    type="text" class="webapp-search"></div>
        </nav>

        <div class="curso_panel">
            <section class="webapp curso">

                <div class="webapp_header_grid" id="grid_classroom">
                    <h2 class="webapp_header">Estado</h2>
                    <h2 class="webapp_header">Nombre Prueba</h2>
                </div>
                <a *ngFor="let prueba of pruebas; let i = index" (click)="getStudentsForPrueba(i)">
                    <span class="webapp_grid webapp_grid_alumno">
                        <img class="test_online" src="../../../../../assets/IMG/Iconos/greenCircle_icon.svg"
                            alt="Circulo verde">
                    </span>
                    <span>{{prueba.nombre}}</span>
                </a>
            </section>

            <section class="webapp curso_alumno">

                <div class="webapp_header_grid_alumno">
                    <h2 class="webapp_header">N°</h2>
                    <h2 class="webapp_header">Nombre</h2>
                    <h2 class="webapp_header">Nota</h2>
                    <h2 class="webapp_header">Repeticiones</h2>
                    <h2 class="webapp_header">Alerta</h2>
                </div>
                <a *ngFor="let student of students; let i = index">
                    <div class="webapp_grid webapp_grid_alumno">
                        <span>{{i + 1}}</span>
                        <span>{{student.nombre}} {{student.apellido}}</span>
                        <span>c</span>
                        <span>d</span>
                        <span>e</span>
                    </div>
                </a>
            </section>
        </div>
    </main>
</body>