<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio-ReTest+</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
<div id="formNewTest" class="createNewTest" *ngIf="showModal">
        <h2 class="title">Crear una nueva evaluación</h2>
        <label class="subtitle" for="testName">Nombre de Evaluación</label>
        <input id="testName" type="text" placeholder="Prueba de Geometría">
        <label class="subtitle" for="className">Curso</label>
        <input id="className" type="text" placeholder="3°A">
        <label class="subtitle" for="newDocument">Documento</label>
        <input id="newDocument" type="text" placeholder="Arrastra el documento aquí">
        <div class="buttons">
            <button class="rButton" id="cancel" value="cancel" (click)="closeModal()">Cancelar</button>
            <button class="rButton" id="upload" type="submit" value="Upload">Subir Archivo</button>
        </div>
    </div>
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <main>
        <nav class="main_nav">
            <ul>
                <li id="main_tag_reciente" class="main_tag active_tag"><a href="teacher/cursos">Mis Cursos</a></li>
                <li id="main_tag_reciente" class="main_tag active_tag"><a href="teacher/cursos/detail">2023 Matemática
                        3°A</a></li>
            </ul>
            <div id="webapp_search" class="main_search"><input id="search_box" placeholder="Buscar" name="Buscar"
                    type="text" class="webapp-search"></div>
        </nav>

        <div class="curso_panel">
            <section class="webapp">

                <div class="webapp_header_grid">
                    <h2 class="webapp_header">Estado</h2>
                    <h2 class="webapp_header">Nombre Prueba</h2>
                    <h2 class="webapp_header">Total</h2>
                    <h2 class="webapp_header">Curso</h2>
                    <h2 class="webapp_header">PC</h2>
                    <h2 class="webapp_header">PN</h2>
                    <h2 class="webapp_header">Alerta</h2>
                </div>

                <a *ngFor="let prueba of pruebas" [routerLink]="['/teacher/cursos', cursoId, 'detail', prueba.id]">
                    <div class="webapp_grid">
                      <img class="test_online" src="../../../../../assets/IMG/Iconos/greenCircle_icon.svg" alt="Circulo verde">
                      <h3>{{ prueba.name_test }}</h3>
                      <span>{{ prueba.total_students }}</span>
                      <span>{{ prueba.curse }}</span>
                      <span>{{ prueba.pc }}</span>
                      <span>{{ prueba.pn }}</span>
                      <img class="alert" src="../../../../../assets/IMG/Iconos/yellowCircle_icon.svg" alt="Circulo Amarillo">
                    </div>
                  </a>
            </section>
        </div>
    </main>
</body>