<body (click)="resetSelection($event)">
    <app-navbar></app-navbar>
    <main class="main_student">
        <nav class="main_nav">
        </nav>
        <section class="webapp webappstudent">
            <div class="webapp_header_grid" id="grid_student">
                <h2 class="webapp_header">Estado</h2>
                <h2 class="webapp_header">Nombre Prueba</h2>
                <h2 class="webapp_header">Curso</h2>
                <h2 class="webapp_header">Intento</h2>
                <h2 class="webapp_header">Realización</h2>
                <h2 class="webapp_header">Nota</h2>
            </div>

            <div *ngFor="let test of tests" (click)="selectTest($event, test)" class="webapp_grid" id="grid_student"
                [ngClass]="{'selected-test': selectedTest === test}" style="cursor: pointer;">
                <img class="test_online"
                    [src]="test.status === 'green' ? '../../../../../assets/IMG/Iconos/greenCircle_icon.svg' : '../../../../../assets/IMG/Iconos/redCircle_icon.svg'"
                    alt="Estado de prueba">
                <h3>{{ test.testName }}</h3>
                <span>{{ test.course }}</span>
                <span>{{ test.attempts }}</span>
                <span>{{ test.date }}</span>
                <span>{{ test.grade }}</span>
            </div>
        </section>

        <section class="webapp_button_student">
            <a [routerLink]="['/student/prueba']">
                <button style="cursor: pointer;" [ngStyle]="{'background-color': selectedTest ? 'green' : 'gray'}"
                    class="centered-button">Ver</button>
            </a>

            <a [routerLink]="['/student/evaluaciones']" class="centered-button">Volver</a>
        </section>
    </main>
</body>