body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--text-input-field);
}

:host {
    --white: #FFFFFF;
    --black: #000000;
    --rblack: #2e2e2e;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --rgreen: #7BBB54;
    --rsky-blue: #48c4da;
    --rskyw-blue: #cae0e4;
    --ryellow: #FACC00;
    --rcyan: #43AF9A;
    --rred: #B4426F;
    --rorange: #F48040;
    --rorangew: #f5dfd4;
    --tag: 1em;
    --sm: .8em;
    --md: 1em;
    --lg: 2em;
}

.mat-button-sm {
    min-width: 40px;
    min-height: 25px;
    padding: 3px 7px;
    font-size: 12px;
    width: 20%;
    margin-top: 10px;
    background-color:#7BBB54 ;
}

main{
    width: 100%;
    height: 100%;
    padding-top: 160px;
    padding-left: 260px;
    padding-right: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
    padding-top: 60px;
    background-color: var(--text-input-field);
}