<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReTest+</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="../../../../../assets/IMG/Logo-ico.ico">

</head>

<body>
    <div class="hide" id="pagina">
        <nav class="navbar">
            <img src="../../../../../assets/IMG/logo01-blanco-v2-sinfondo (1).png" class="nav-retest" alt="logo">
            <ul class="links">
                <li *ngFor="let section of sections" class="item-navbar">
                  <a (click)="scrollTo(section.id)">{{section.name}}</a>
                </li>
                <div class="box-log-in"><div class="log-in"><a href="auth/login">Iniciar sesión</a></div></div>
              </ul>
        </nav>

        
        <header>
            <div class="header-index">
                <img class="headear-background-left" src="../../../../../assets/IMG/02-portada.png" alt="">
                <img class="headear-background-right" src="../../../../../assets/IMG/03-portada.png" alt="">
                <div class="header-center">
                    <img src="../../../../../assets/IMG/logo01-blanco-v2-sinfondo (1).png" class="logo-retest" alt="logo">
                    <div>
                        <ul>
                            <li><span>Re</span>evalúa</li>
                            <li><span>Re</span>troalimenta</li>
                            <li><span>Re</span>intenta</li>
                        </ul>
                    </div>
                </div>

            </div>
        </header>

        <section id="secction-1">
            
            <article class="description">
                <img class="ico2 icon" src="../../../../../assets/IMG/02-recurso.svg" alt="recurso2">
                <img class="ico3 icon" src="../../../../../assets/IMG/03-recurso.svg" alt="recurso3">
                <h3 class="tag" >Descripción</h3>
                <h1 class="title">Nuestro Servicio</h1>
                <p class="texto">Retest es un servicio web que asegurar el aprendizaje de los estudiantes dando oportunidades para que cada estudiante alcance sus objetivos.
                </p>
            </article>

        </section>

        <section id="secction-2">
            <article class="team">
                
                <h3 class="tag" >Equipo</h3>
                <h1 class="title">Nosotros</h1>
                <div class="team-description">
                    <div class="equipo-texto">
                        <p class="texto">Fundado por un equipo multidisciplinario con un fuerte amor por la educación trabaja constantemente para poder desarrollar soluciones tecnologícas pensadas en la vida diaria de los profesores y estudiantes</p>
                    </div>
                    <div class="equipo-foto">
                        <img src="../../../../../assets/IMG/04-equipo (1).png" alt="equipo-retest">
                    </div>
                    <div class="equipo-descripcion">
                        <div>
                            <h1>Sebastián Hernández Pezo</h1>
                            <h2>Socio fundador | CEO</h2>
                            <h3>Ingeniero Civil Industrial <br>Universidad de Santiago de Chile</h3>
                        </div>
                        <div>
                            <h1>Tania Canales Domange</h1>
                            <h2>Socia fundadora | Directora pedagógica</h2>
                            <h3>Profesora de Castellano <br> Universidad de playa ancha</h3>
                        </div>
                    </div>
                </div>
                
            </article>

        </section>

        <section id="secction-3">
            <div class="proposito">
                <h3 class="tag" >Nuestro Propósito</h3>
                <h1 class="title">Así ayudamos a:</h1>
                <img class="ico5 icon" src="../../../../../assets/IMG/05-recurso.svg" alt="ico5">
                <div class="proposito-box" >
                    <article>
                        <img src="../../../../../assets/IMG/06-estudiantes.svg" alt="estudiantes">
                        <div class="box-texto">                    <h1 class="subtitle">Estudiantes</h1>
                            <p class="texto">Fomenta que logren sus
                                objetivos sin el estrés de “la
                                prueba única”, otorgando la
                                oportunidad de volver a
                                rendir la evaluación.</p></div>

                    </article>
                    <article>
                        <img src="../../../../../assets/IMG/07-profesores.svg" alt="profesores">
                        <div class="box-texto">                    <h1 class="subtitle">Profesores</h1>
                            <p class="texto">Aliviana la carga laboral de
                                la creación de material y
                                permite el enfoque en la
                                retroalimentación constante
                                basada en habilidades.</p></div>

                    </article>
                    <article>
                        <img src="../../../../../assets/IMG/08-directivos.svg" alt="directores">
                        <div class="box-texto">                    <h1 class="subtitle">Directivos</h1>
                            <p class="texto">Facilita la toma de decisiones
                                para cumplir el decreto N°67 de
                                la Ley General de Educación
                                (LGE) en relación a la promoción 
                                de los estudiantes.</p></div>

                    </article>
                </div>
            </div>
        
        </section>

        <section id="secction-4">
            <div class="function">
                <img class="function-ico1 icon" src="../../../../../assets/IMG/14-recurso.svg" alt="ico6">
                <img class="function-ico2 icon" src="../../../../../assets/IMG/15-recurso.svg" alt="ico7">
                <h3 class="tag" >Funcionamiento</h3>
                <h1 class="title">Todo funciona gracias a los siguientes pasos:</h1>
                <div class="function-box">
                    <article class="function-card">
                        <img src="../../../../../assets/IMG/09-entrega.png" alt="Icono Entregar">
                        <div class="box_texto">
                            <h2 class="subtitle">Entrega</h2>
                            <p class="tag">El establecimiento entrega las evaluaciones ya creadas por sus docentes.</p>
                        </div>
                    </article>
                    <article class="function-card">
                        <img src="../../../../../assets/IMG/10-revisión.svg" alt="Icono revision">
                        <div class="box_texto">
                            <h2 class="subtitle">Revisión</h2>
                            <p class="tag">El material recibido es digitalizado y procesado por el equipo de ReTest+.</p>
                        </div>
                    </article>
                    <article class="function-card">
                        <img src="../../../../../assets/IMG/11-aleatorización.svg" alt="Icono aleatorización">
                        <div class="box_texto">
                            <h2 class="subtitle">Aleatorización</h2>
                            <p class="tag">Se aleatorizan las variables de cada pregunta, a través de algoritmos PNRG.  </p>
                        </div>
                    </article>
                </div>
                <div class="function-box">
                    <article class="function-card">
                        <img src="../../../../../assets/IMG/12-evaluación.svg" alt="Icono evaliuación">
                        <div class="box_texto">
                            <h2 class="subtitle">Evaluación</h2>
                            <p class="tag">Se generan pruebas iguales estructuralmente, pero intrínsecamente diferentes para cada estudiante.</p>
                        </div>
                    </article>
                    <article class="function-card">
                        <img src="../../../../../assets/IMG/13-reevaluación.svg" alt="Icono reevaluación">
                        <div class="box_texto">
                            <h2 class="subtitle">Reevaluación</h2>
                            <p class="tag">El estudiante puede reevaluarse constantemente y ser monitoreado por el docente.</p>
                        </div>
                    </article>

                </div>
            </div>
        </section>
        <section id="secction-5">
            <div class="contact">
                <img class="contact-ico1 icon" src="../../../../../assets/IMG/20-recurso.svg" alt="ico6">
                
                <h3 class="tag" >¿Quieres saber más?</h3>
                <h1 class="title">¡Contactanos!</h1>
                <form class="contact-form" id="form">
                    
                    <div class="contact-box">
                        <h2 class="subtitle"> Nombre:</h2>
                        <input id="name" required name="name" type="text" class="contact-input" >
                        <h2 class="subtitle"> Correo:</h2>
                        <input id="email" required name="email" type="text" class="contact-input">
                        <h2 class="subtitle"> Comentarios</h2>
                        <textarea id="message" name="message" class="contact-input--message"></textarea>
                        <input name="submit" type="submit" class="contact-cta contact-input">
                        
                    </div>
                    <div class="contact-logo">
                        <img src="../../../../../assets/IMG/logo02-color-sinfondo (2).png" alt="Logo Retest">
                    </div>
                    
                </form>
                <a href="mailto:contacto@retestplus.com" id="send__mail">mail</a>

            </div>
        </section>
        <footer>
            <img class="contact-ico2" src="../../../../../assets/IMG/21-recurso.svg" alt="ico7">
            <h3>&copy;ReTest+ 2022</h3>
        </footer>

    </div>
</body>

</html>